<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name ="HiTechDBConnection" connectionString="Data Source = LAPTOP-46533MP4\SQLEXPRESS2014; Initial Catalog= HiTech; User Id = sa; Password= Sandhu98780!"/>
    
  </connectionStrings>
</configuration>